{{>layouts/header}}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">병원 이름</th>
        <th scope="col">병원 주소</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/hospitals/{{id}}">{{hospitalName}}</td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    {{#checkPrevious}}
        <li class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a> </li>
    {{/checkPrevious}}
    {{^checkPrevious}}
        <li class="page-item disabled"><a class="page-link" href="?page={{previous}}">Previous</a> </li>
    {{/checkPrevious}}
    {{#checkNext}}
        <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a> </li>
    {{/checkNext}}
    {{^checkNext}}
        <li class="page-item disables"><a class="page-link" href="?page={{next}}">Next</a> </li>
    {{/checkNext}}
</ul>
{{>layouts/footer}}