this page is Edit Page.
{{#article}}
<form action="/articles/{{id}}/update" method="post">
     <input type="text" name="title" value="{{title}}" />
     <textarea rows="3" name="content">{{content}}</textarea>
    <input type="submit">
</form>
<a href="/articles/{{id}}"> 이전 페이지로</a>
<a href="/articles/{{id}}"> 게시판으로</a>
{{/article}}