{{>layouts/header}}
<div class="contain-sm mt-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        {{#articles}}
            <tr>
                <th scope="row">{{id}}</th>
                <td><a href="/articles/{{id}}">{{title}}</td>
                <td>{{content}}</td>
            </tr>
        {{/articles}}
    </table>
</div>
<a href="/articles/new" class="btn btn-secondary">New</a>
{{>layouts/footer}}