{{>layouts/header}}
    <form action="/articles/" method="post">
        <input type="text" name="title" />
        <input type="text" name="content" />
        <input type="submit" />
    </form>
{{>layouts/footer}}